@{
    Layout = null;
}

<!DOCTYPE html>
@Styles.Render("~/Content/Welcome.css")
@Scripts.Render("~/bundles/modernizr")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MusicWeb</title>
</head>
<body>
    <h1>Welcome to SPACE MUSIC</h1>
    <h3>A place where dreams meet with stars..</h3>
    <div class="background"> 
        <video autoplay loop muted>
            <source src="~/Content/Media/star_background.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="center">
        @Html.ActionLink("PROCEED", "Index", "Home")
    </div>
</body>
</html>
