@model IEnumerable<MusicWeb.Models.Playlist>

<h4>Playlists</h4>
<ul class="list-vertical">
    @foreach (MusicWeb.Models.Playlist p in Model)
    {
        <li>
            <a data-url="@Url.Action("Details", "Playlist", new { id = p.Id })" class="fetchable">@p.Name</a>
        </li>
    }
</ul>
