 <div class="sidebar">
        <h3>Menu</h3>
            <h4>Website info</h4>
            <ul class="list-vertical">
                <li><a data-url="@Url.Action("AdminPage", "Account")" class="fetchable">Administration</a></li>
            </ul>
    </div>
