
    <div class="sidebar">
        <h3>Menu</h3>
            <h4>Website info</h4>
            <ul class="list-vertical">
                You need to login.
                @ViewBag.AdminClaim
                @ViewBag.UserClaim
            </ul>
    </div>
