
    <div class="sidebar">
        <h3>Menu</h3>
            <ul class="list-vertical">
                <li>@Html.ActionLink("Profile","Profile", "Account")</li>
                <li><a data-url="@Url.Action("Create", "Playlist")" class="fetchable">Create playlist</a></li>
                <li><a data-url="@Url.Action("Upload", "Logged")" class="fetchable">Upload</a></li>
            </ul>
        @Html.Action("ListPlaylists", "Playlist")
    </div>
