@using MusicWeb.Models
@model Search

<div class="search-content">
    <div class="form-group row">
        <p>Find your music you like</p>
    </div>
    
    @{Html.RenderPartial("_Search", Model);}
</div>