<div class="background">
    <video autoplay loop muted>
        <!--<source src="~/Content/Media/me-loading.mp4" type="video/mp4" />-->
    </video>
</div>
<div class="cover-clip">

</div>
<div id="content">
    @{Html.RenderPartial("../Home/HomeSearch");}
</div>



